.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	margin-top: 20px;
	margin-bottom: 100px;
}

.header-list {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.header-item {
}

.header-link {
	font-size: 20px;
	line-height: 100%;
}

.home-list {
	border: 1px solid red;
	height: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: center;
	row-gap: 20px;
	column-gap: 30px;
}
.home-item {
	width: 400px;
}
/* .home-item:not(:last-child) {
	margin-bottom: 20px;
} */
